*{margin: 0, auto;padding: 0;charset:"UTF-8" "宋体";}
.mainbody{width:100%;background:#eee;border:1px solid #999}
.right{position:absolute;right: 0; width: 120px;margin: 20px;padding: 20px;background:#fff;border: 1px solid #999;}
	.right img{width: 80px;height: 80px; margin: 20px;border: 1px solid #999;}
	.0{width:90px}
.left{position:absolute;left: 0;width:200px;margin: 20px;background:#fff;border: 1px solid #999;}
	.left span{position: absolute;right: 20px;top: 20px;font-size: 14px;color: #111}
	.left img{width: 80px;height: 80px; margin: 20px;border: 1px solid #999;}
.mid{position: relative;margin:20px 210px 0 250px;background:#fff;border: 1px solid #999;}
	.mid p{font-size: 16px;line-height: 20px;}